<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
    <title>PagTesouro - Cliente</title>
    {% endblock %}
    
</head>
<body class="bg-gray-400">
    <nav class="p-5 bg-white shadow">

        <div class="md:flex md:items-center">
            <ul>
                <li class="mx-4">
                    <a href="{% url 'index' %}" class="text-xl hover:text-cyan-500 duration-500">Início</a>
                </li>
            </ul>
            <ul>
                <li class="mx-4">
                    <a href="{% url 'create' %}" class="text-xl hover:text-cyan-500 duration-500">Cadastrar Pagamento</a>
                </li>
            </ul>
            <ul>
                <li class="mx-4">
                    <a href="{% url 'query' %}" class="text-xl hover:text-cyan-500 duration-500">Consultar Pagamento</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="px-5">
    {% block conteudo %}
    Aqui vem o conteúdo principal
    {% endblock %}
    </main>
    <!--LINK PARA ACESSAR O TAILWIND VIA CDN-->
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>